<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
    <h1>Welcome to EIMS</h1>
    <p>Your one-stop shop for inventory management!</p>
</body>
<%- include('../partials/footer') %>
</html>
